:root{
    --main-font: "Orbitron", serif;
    --secondary-font: "Comfortaa", sans-serif;
    --main-color: rgb(255, 255, 255);
    --main-bg-color: rgb(0, 0, 0);
    --name-font-size:40px;
    --main-font-size: 20px;
    --footer-font-size: 20px;
}

/*head*/

.name, .rname, .mname, .footer{
    font-family: var(--main-font);
}

