:root{
    --main-font: "Orbitron", serif;
    --secondary-font: "Comfortaa", sans-serif;
    --main-color: rgb(255, 255, 255);
    --main-bg-color: rgb(0, 0, 0);
    --name-font-size:40px;
    --main-font-size: 20px;
    --footer-font-size: 20px;
}

/*head*/

.name, .rname, .mname, .version{
    font-family: var(--main-font);
    font-weight: bold;
}

.name{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    background: black;
    color: var(--main-color);
    font-size: var(--name-font-size);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    z-index: 0;
}

/*body*/

.rside, .mside{
    height: 1000px;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo{
    display: flex;
    z-index: 1;
    animation: ani 2s forwards;
}

.rlogo{ 
    position: absolute;
    display: flex;
    top: 30px;
    left: 95%;
    transform: translateX(-50%);

}

.rside:hover .rlogo{
    filter: drop-shadow(0 0 10px rgb(4, 0, 255));
}

.mside:hover .mlogo{
    filter: drop-shadow(0 0 10px rgb(255, 0, 0));
}

.mlogo{
    position: absolute;
    display: flex;
    top: 30px;
    right: 97%;
    transform: translateX(50%);
}

.logo img{
    width: 100px;
    height: 200px;
}

.main{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    height: 1000;
    box-sizing: border-box;
    position: relative;
}

.rside::before, .mside::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease, filter 0.5s ease;    
}

.rside:hover::before, .mside:hover::before{
    transform: scale(1.1);
    filter: blur(7px);
}

.rside:hover::before{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 1)), url(img/republicside.webp);
}

.mside:hover::before{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 1)), url(img/merceneryside.jpg);
}

.rside::before{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.60),rgba(0, 0, 0, 0.30),rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 1)), url(img/republicside.webp);
}

.mside::before{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.60),rgba(0, 0, 0, 0.30),rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 1)), url(img/merceneryside.jpg);
}

.rname, .mname{
    position: absolute;
    font-size: 30px;
    color: var(--main-color);
    z-index: 1;
    animation: ani 2s forwards;
    width: 100%;
}

.rname{
    top: 20px;
    left: 20px;
}

.rname h3{
    font-family: var(--secondary-font);
    font-size: var(--footer-font-size);
    position: absolute;
    top: 90px;
}

.mname{
    top:20px;
    right: 20px;
    direction: rtl;
}

.mname h3{
    font-family: var(--secondary-font);
    font-size: var(--footer-font-size);
    position: absolute;
    top: 90px;
}

.rpicture, .mpicture{
    display: none;
    width: 952px;
    height: 300px;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 40%;
    z-index: 1;
    transform: translateY(-50%);
    padding: 0 20px;
    transition: opacity 5s ease, transform 5s ease;
    opacity: 0;
}

.rpicture img, .mpicture img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.rside:hover .rpicture, .mside:hover .mpicture{
    display: flex;
    opacity: 1;
    transform: translateY(-50%) scale(1);
}

.rdescript, .mdescript{
    z-index: 1;
    font-family: var(--secondary-font);
    font-size: var(--main-font-size);
    text-align: center;
    margin-top: 320px;
    padding: 0 20px;
    color: var(--main-color);
}

.rdescript p, .mdescript p{
    opacity: 0;
}

.rside:hover .rdescript p, .mside:hover .mdescript p{
    display: flex;
    transition: opacity 0.5s, transform 0.5s ease; 
    opacity: 1;

}
/*footer*/

.version{
    color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 200px;
    width: 100%;
    background: var(--main-bg-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*animation*/ 
@keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
}